:root {
  --primary-background: #000;
  --primary-background-contrast: #e4d8b4;
  --secondary-background: #272324;
  --secondary-background-contrast: #e4d8b4;
}

.bright {
  --primary-background: #d7fcd4;
  --primary-background-contrast: #545454;
  --secondary-background: #b6cca1;
  --secondary-background-contrast: #545454;
}

.cdk-overlay-pane.high-scores > mat-dialog-container,
.cdk-overlay-pane.config > mat-dialog-container {
  padding: 0;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    font-weight: 600;
  }
}

* {
  font-family: 'Press Start 2P', cursive;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 185px;
  margin: 10px;
}

.game-inputs {
  button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 60px;
    mat-icon {
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 60px;

      display: flex;
      align-items: center;
    }
  }
}

.game-board {
  border: solid 2px;
  margin: 10px;
  align-self: flex-start;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .play-button {
    background-color: #4caf50;
  }

  .reset-button {
    background-color: red;
  }

  .pause-button {
    background-color: #4caf50;

    &.button-disabled {
      background-color: #cccccc;
    }
  }

  .button {
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    width: 140px;
    border: 1px solid black;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
